# =========================
# Python Virtual Environments
# =========================
venv/
.venv/
env/
ENV/
deep_env/
deepenv/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Environment / Secrets
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# Large Datasets
# =========================
Dataset/
Datasets/
dataset/
datasets/

DataAugmentation/datasets_old/

# =========================
# Trained Models
# =========================
*.h5
*.keras
*.pkl
*.joblib
*.onnx

# =========================
# TensorFlow
# =========================
checkpoint/
logs/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db